<body>
  <h1>ようこそBookersへ！</h1>
  <div id="shift">
    <p class="intro">
	  <Strong>Bookers</Strong>では、さまざまな書籍に関するあなたの意見や<br>
      印象を共有し交換することができます
    </p>
    <P class="top">
      <%= link_to "start", reviews_path %>
    </P>
  </div>
</body>